{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Biotech News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: white;">

    <div  style="background-color: rgb(175, 171, 171); border-top-left-radius: 25px; border-top-right-radius:25px; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
        <center>
          <img src="{% static 'newsapp/icon.png' %}" width="90px">
          <h1 style="color:rgb(105, 25, 49);font-weight:lighter;font-size: 50px; font-family:fantasy;">Daily Dose Of Science</h1>
            <h2  style="color:rgb(114, 79, 86); font-size: 32px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;font-weight: bold;"> Bioteconologia </h2>
            <a href="{% url 'scrape' %}" class="btn btn-success" style="background-color:rgb(105, 25, 49);margin-top: 20px;width: 190px;height: 80px;font-weight: bold;font-size: 30px;padding: 10px;">Load news</a>
        </form>
    </center> 
    </div>
  <div class="card-columns" style="padding: 10px; margin-left: 90px;margin-right: 10px;">
    {% for object in object_list %}
    <div class="card" style="width: 18rem;border:5px rgb(151, 101, 116) solid;margin-bottom: 50px;">
  <img class="card-img-top" src = "{{ object.image }}">
  <div class="card-body">
    <h5 class="card-title"><div class="card-body">
      <a href="{{object.url}}"><h5 class="card-title">{{object.title}}</h5></a>
    </div></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.discipline}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{object.author}}</h6>
    <p class="card-text">{{object.summary}}</p>
    </div>
  </div>
  {% endfor %}
</div>
</div>
    <script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>